.block{
  border: dashed;
  border-radius: 25px;
  width: 600px;
  padding: 5px 20px;
  display: flex;
  justify-content: center;
}
.block-a__img{
  width: 50px;
  height: 50px;
}
.block_label{
  width: 100%;
  height: 100%;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.block__a{
  border:  none;
  background: none;
  align-items: center;
  display: flex;
  justify-content: center;
}
.question{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input:checked+span {
  color: rgb(118, 187, 34);
}
.block__submit {
  border: none;
  background: #a89a8a;
  background-image: -webkit-linear-gradient(top, #a89a8a, #c2af99);
  background-image: -moz-linear-gradient(top, #a89a8a, #c2af99);
  background-image: -ms-linear-gradient(top, #a89a8a, #c2af99);
  background-image: -o-linear-gradient(top, #a89a8a, #c2af99);
  background-image: linear-gradient(to bottom, #a89a8a, #c2af99);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 0px 0px 0px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.block__submit:hover {
  background: #a89a8a;
  background-image: -webkit-linear-gradient(top, #a89a8a, #a88d6b);
  background-image: -moz-linear-gradient(top, #a89a8a, #a88d6b);
  background-image: -ms-linear-gradient(top, #a89a8a, #a88d6b);
  background-image: -o-linear-gradient(top, #a89a8a, #a88d6b);
  background-image: linear-gradient(to bottom, #a89a8a, #a88d6b);
  text-decoration: none;
}
.row-block{

}
.block-title {
  margin-bottom: 5px;
  padding: 5px;
  font-size: 16px;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-radius: 0px;
  box-shadow: 0px 0px 5px rgba(66,66,66,.75);
  text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}
.block-title:focus {
  outline:none;
}
.test-radio{
  width: 15px;
  height: 15px;
}
.form-row{
  display: flex;
  flex-direction: column;
  align-items: center;

}
