.block{
  border: dashed;
  border-radius: 25px;
  width: 600px;
  padding: 5px 20px;
  display: flex;
  justify-content: center;
}
.block-a__img{
  width: 50px;
  height: 50px;
}
.block_label{
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.block__a{
  border:  none;
  background: none;
  align-items: center;
  display: flex;
  justify-content: center;
}
.question{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input:checked+span {
  color: rgb(118, 187, 34);
}