.conteiner{
  margin: auto 70px;
  background-color: #dad2bc;
  padding: 25px;
  border-radius: 5px;
}
.Kabinet{

  padding-top: 100px;
  display: flex;
  justify-content: center;
}
.foto-user{
  width: 250px;
  height: 250px;
}
.Kabinet-datauser{
  display: flex;
}
.kabinet-right{
  padding-left: 10px;
}
.Kabinet-datauser-editprofil{
  display: flex;
  justify-content: center;
}
.Kabinet-datauser-editprofil__a{
  text-decoration: none;
  color: #000000a6;
}
.Kabinet-datauser-editprofil{
  background-color: #E4E6EB;
  margin-top: 10px;
}